* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
  height: 100%;
  background-color: black;
}


body, a:hover {
  cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), progress !important;
}

/* <<<<<<<<<<<<<< HEADER >>>>>>>>>>>>> */

.header-wrapper {
  position: relative;
  background-image: url(https://res.cloudinary.com/negmah/image/upload/v1534020472/sintra_palacio_da_pena_da_cruz_alta_450px.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: white;
  height: calc(100vh / 6);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 19px rgb(0, 0, 0) solid;
}


.header-footer, .nav-menu {
  position: absolute;
  font-family: 'Questrial', sans-serif;
  margin: 0px;
  bottom: 0;
  color: #ffc107;
}


.nav-menu {
  font-size: 22px;
  left: 0;
  padding: 0px 0px 5px 15px;
}


.header-title {
  font-family: 'Great Vibes', cursive;
  font-size: 52px;
  margin: 0px;
  opacity: 0.7;
  text-shadow: -4px 5px 3px #f44336;
}


.header-footer {
  font-size: 14px;
  right: 0;
  padding: 0px 10px 5px 0px;
}

/* <<<<<<<<<<<<<< SIDEBAR >>>>>>>>>>>>> */

#navbar {
  width: 0px;
  position: fixed;
  display: block;
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #111; /* Black*/
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  overflow-x: hidden;
}

/*
#nav-header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}*/

.icon-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}


.sidebar-icon {
  width: 100px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 25px;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  margin-right: 15px;
  margin-top: 10px;
  background-color: #FFC107;
  border: 2px solid #FFC107;
  border-radius: 50px; 
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.sidebar-filter {
  display: block;
  width: 150px; /* Set width */
  height: 25px; /* Set height */
  border: 3px solid #ffc107; /* set query's box border */
  background-color: #111; /* set query's box background color */
  font-family: 'Questrial', sans-serif; /* set query's box font tamily */
  text-indent: 10px; /* indent default text in query box in 10px */
  color: whitesmoke;
  margin-left: auto; /* Set ´margin */
  margin-right: auto; /* Set ´margin */
  margin-top: 20px; /* Set ´margin */
  margin-bottom: 20px; /* Set ´margin */
}

#sidebar-list {
  height: 300px;    /* Set height */
  overflow-y: auto; /* Display scroll on y-axis whenever content occupies more than available space */
  flex: 0 0 200px; /* don't grow, don't shrink, retain width */
  list-style: none; /* Remove underline from links */
  margin: 10px;  /* Set ´margin */
}

  /* Nav menu links wrapper */
  #sidebar-list > ul {
    height: 100vw; /* Set height */
    margin: 0; /*Force margin to 0*/
    padding: 0; /*Force padding to 0*/
    margin-top: 15px; /* Set ´margin */
    line-height: 20px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    list-style: none;
  }

#sidebar-list a {
  background-color: black; /* Black background color */
  color: white; /* White text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-family: 'Questrial', sans-serif; /* set link's font */
  text-align: right;
  font-size: 12px;
}

#sidebar-list a:hover {
  background-color: #ffc107; /* Yellow background on mouse-over */ /*NOT WORKING*/
  color: black; /* Black text color */
}


/* <<<<<<<<<<<<<< MAP >>>>>>>>>>>>> */

#map {
  width: 100%;
}


/* <<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>> */

#footer-wrapper {
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 12px;
  text-align: center;
}


#quote {
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}


/* unvisited link */
#footer-link, a:link {
  color: #ffc107;
}


/* visited link */
a:visited {
  color: rgb(255, 0, 119);
}