/* <<<<<<<<<<<<<< SIDEBAR >>>>>>>>>>>>> */

/* Side navigation menu */
.sidebar {
    display: block;
    width: 0px;
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .sidebar-header {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .sidebar-icon {
    width: 100px;
    height: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 25px;
  }
  
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 10px;
    background-color: #FFC107;
    border: 2px solid #FFC107;
    border-radius: 50px; 
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  .sidebar-filter {
    width: 150px;
    height: 25px;
    border: 3px solid #ffc107; /* set query's box border */
    background-color: #111; /* set query's box background color */
    font-family: 'Questrial', sans-serif; /* set query's box font tamily */
    text-indent: 10px; /* indent default text in query box in 10px */
    color: whitesmoke;
  }
  
  /* Nav menu links wrapper */
  #sidebar-list > ul {
    height: 100vw;
    margin: 0; /*Force margin to 0*/
    padding: 0; /*Force padding to 0*/
    margin-top: 15px;
    line-height: 20px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    list-style: none;
  }
  
  /* Nav menu links */
  #sidebar-header a {
    width: 10px;
    margin: 0px;
    text-decoration: none;
    font-size: 20px;
    color: #b1b1b1;
    display: block;
    transition: 0.3s;
    font-family: 'Questrial', sans-serif;
    text-align: right;
  }
  
  /* Change link color on mouse over */
  #sidebar-header a:hover {
    color: #f1f1f1;
  }
  
  #sidebar-list ul > li > a:first-of-type {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
  }
  
  





























































/* <<<<<<<<<<<<<< SIDEBAR >>>>>>>>>>>>> */

#navbar {
  width: 0px;
  position: fixed;
  display: block;
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #111; /* Black*/
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}



#sidebar {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

#nav-header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}

.icon-btn-wrapper {
  position: relative;
  z-index: -99999999;

}

.sidebar-icon {
  width: 100px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 25px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 10px;
  background-color: #FFC107;
  border: 2px solid #FFC107;
  border-radius: 50px; 
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.sidebar-filter {
  width: 150px;
  height: 25px;
  border: 3px solid #ffc107; /* set query's box border */
  background-color: #111; /* set query's box background color */
  font-family: 'Questrial', sans-serif; /* set query's box font tamily */
  text-indent: 10px; /* indent default text in query box in 10px */
  color: whitesmoke;
}

.locations {
  margin: 10px; 
}
#sidebar-list {
  height: 300px;    /* Set height */
  overflow-y: auto; /* Display scroll on y-axis whenever content occupies more than available space */
  flex: 0 0 200px; /* don't grow, don't shrink, retain width */
  list-style: none;
}

  /* Nav menu links wrapper */
  #sidebar-list > ul {
    height: 100vw;
    margin: 0; /*Force margin to 0*/
    padding: 0; /*Force padding to 0*/
    margin-top: 15px;
    line-height: 20px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    list-style: none;
  }

#sidebar-list a {
  background-color: black; /* Black background color */
  color: white; /* White text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-family: 'Questrial', sans-serif; /* set link's font */
  text-align: right;
  font-size: 12px;
}

#sidebar-list a:hover {
  background-color: #ffc107; /* Yellow background on mouse-over */ /*NOT WORKING*/
  color: black; /* Black text color */
}

